body {
    font-family: sans-serif;
    background-image: url('imge/jsd.png');
     display: flex;
    justify-content: center; /* จัดกึ่งกลางแนวนอน */
    align-items: center;   /* จัดกึ่งกลางแนวตั้ง */
}


small {
    color: gray;
    display: block;
}

.container{
   display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
  align-items: center;   /* จัดกึ่งกลางแนวตั้ง */
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 1px solid rgb(255, 255, 255); 
  background-color: rgb(131, 196, 237);
  margin-top: 100px;
  font-family: serif;

}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
     padding: 30px;
     font-size: x-large;
      gap: 20px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* เพิ่มขอบมนให้อินพุต */
    font-size: medium;
}


a{
    font-size:x-large;
}

button:hover {
    background-color: #66a7ed;
}

button{
     cursor: pointer;
      font-size:large;
}