@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sarabun:wght@400;700&display=swap');

/* RESET CSS */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-size:x-large;
     }

body {
    font-family: 'Sarabun', sans-serif;
    background-color: #f4f4f9; 
}

.main {
    font-size: 20px; 
    background-color: #ffffff;
    background-image: url('พื้นหลัง.jpg');
    text-align: center;
}

.header, .footer {
     background: linear-gradient(rgb(119, 119, 209), rgb(59, 13, 226));
    color: white;
    text-align: center;
    padding: 20px ;
}


.footer  {
    font-size: 1rem;
    color: #ecf0f1;
}

.box h2 {
    color: #3b26d7;
    margin: 0 auto;
}

#about img {
    display: block; 
    border-radius: 50%; 
    border: 5px solid #2c3e50; 
    margin: 0 auto;
    width: 250px;
    height: 250px;
}
